* {padding: 0; margin: 0; box-sizing: border-box; list-style: none; text-decoration: none;}
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {width: 100vw; height: 100vh; font-family: 'SEBANG_Gothic_Bold'; overflow-x: hidden;}
body a {color: #333333;}